<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.watersupplierservice.dao.SysOrgUserDao">
    <resultMap id="BaseResultMap" type="com.wx.watersupplierservice.po.SysOrgUserPo">
        <id column="org_user_id" property="orgUserId"/>
        <result column="org_id" property="orgId"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <sql id="Table_Name">
        sys_org_user
    </sql>

    <sql id="Base_Column">
        org_user_id,
        org_id,
        user_id
    </sql>

    <sql id="Base_Where">
        <trim suffixOverrides="AND">
            <if test="orgUserId != null">
                AND org_user_id=#{orgUserId}
            </if>
            <if test="orgId != null">
                AND org_id=#{orgId}
            </if>
            <if test="userId != null">
                AND user_id=#{userId}
            </if>
        </trim>
    </sql>

    <sql id="Base_Select">
        select
        <include refid="Base_Column"/>
        from
        <include refid="Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </sql>

    <!-- 单条插入 -->
    <insert id="insert" parameterType="com.wx.watersupplierservice.po.SysOrgUserPo" useGeneratedKeys="true"
            keyProperty="orgUserId">
        insert into
        <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgUserId != null">
                org_user_id,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgUserId != null">
                #{orgUserId},
            </if>
            <if test="orgId != null">
                #{orgId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="insertList" parameterType="java.util.List">
        insert into
        <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            org_id,
            user_id,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.orgId},
                #{item.userId},
            </trim>
        </foreach>
    </insert>

    <!-- 根据主键批量更新 -->
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update
            <include refid="Table_Name"/>
            <set>
                <if test="item.orgId != null">
                    org_id=#{item.orgId},
                </if>
                <if test="item.userId != null">
                    user_id=#{item.userId},
                </if>
            </set>
            where
                org_user_id=#{item.orgUserId}
        </foreach>
    </update>

    <!-- 查询单表符合条件总条数 -->
    <select id="count" parameterType="com.wx.watersupplierservice.po.SysOrgUserPo" resultType="int">
        select count(1) from
        <include refid="Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>

    <!-- 查询符合条件的一条记录 -->
    <select id="selectOne" parameterType="com.wx.watersupplierservice.po.SysOrgUserPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
        limit 1
    </select>

    <!-- 查询符合条件的记录 -->
    <select id="selectList" parameterType="com.wx.watersupplierservice.po.SysOrgUserPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
    </select>

    <!-- 查询符合条件的记录  锁定符合条件的行-->
    <select id="selectForUpdate" parameterType="com.wx.watersupplierservice.po.SysOrgUserPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
        for update
    </select>

    <select id="getOrgBaseInfo" resultType="com.wx.watersupplierservice.pojo.SysOrgPojo">
        SELECT
            sou.org_user_id AS orgUserId,
            sou.org_id AS orgId,
            so.platform,
            so.app_key AS appKey,
            so.app_secret AS appSecret,
            so.token,
            so.orgCode AS orgcode
        FROM
            sys_org_user sou
            INNER JOIN sys_org so ON sou.org_id = so.org_id
        WHERE
            sou.user_id = #{userId}
    </select>
</mapper>