<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.watersupplierservice.dao.SysShopUserDao">
    <resultMap id="BaseResultMap" type="com.wx.watersupplierservice.po.SysShopUserPo">
        <id column="shop_user_id" property="shopUserId"/>
        <result column="shop_id" property="shopId"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <sql id="Table_Name">
        water_supplier.sys_shop_user
    </sql>

    <sql id="Base_Column">
        shop_user_id,
        shop_id,
        user_id
    </sql>

    <sql id="Base_Where">
        <trim suffixOverrides="AND">
            <if test="shopUserId != null">
                AND shop_user_id=#{shopUserId}
            </if>
            <if test="shopId != null">
                AND shop_id=#{shopId}
            </if>
            <if test="userId != null">
                AND user_id=#{userId}
            </if>
        </trim>
    </sql>

    <sql id="Base_Select">
        select
        <include refid="Base_Column"/>
        from
        <include refid="Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </sql>

    <!-- 单条插入 -->
    <insert id="insert" parameterType="com.wx.watersupplierservice.po.SysShopUserPo" useGeneratedKeys="true"
            keyProperty="shopUserId">
        insert into
        <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopUserId != null">
                shop_user_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopUserId != null">
                #{shopUserId},
            </if>
            <if test="shopId != null">
                #{shopId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="insertList" parameterType="java.util.List">
        insert into
        <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            shop_id,
            user_id,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.shopId},
                #{item.userId},
            </trim>
        </foreach>
    </insert>

    <!-- 根据主键批量更新 -->
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update
            <include refid="Table_Name"/>
            <set>
                <if test="item.shopId != null">
                    shop_id=#{item.shopId},
                </if>
                <if test="item.userId != null">
                    user_id=#{item.userId},
                </if>
            </set>
            where
                shop_user_id=#{item.shopUserId}
        </foreach>
    </update>

    <!-- 查询单表符合条件总条数 -->
    <select id="count" parameterType="com.wx.watersupplierservice.po.SysShopUserPo" resultType="int">
        select count(1) from
        <include refid="Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>

    <!-- 查询符合条件的一条记录 -->
    <select id="selectOne" parameterType="com.wx.watersupplierservice.po.SysShopUserPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
        limit 1
    </select>

    <!-- 查询符合条件的记录 -->
    <select id="selectList" parameterType="com.wx.watersupplierservice.po.SysShopUserPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
    </select>

    <!-- 查询符合条件的记录  锁定符合条件的行-->
    <select id="selectForUpdate" parameterType="com.wx.watersupplierservice.po.SysShopUserPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
        for update
    </select>

    <select id="getShopList" resultType="com.wx.watersupplierservice.dto.UserShopDto" parameterType="com.wx.watersupplierservice.req.ShopsReq">
        SELECT
            ss.shop_id AS shopId,
            ss.shop_name AS shopName,
            ss.platform AS platform,
            ss.shop_code AS shopCode,
            ss.shop_address AS shopAddress,
            ss.shop_leader AS shopLeader,
            ss.shop_tel AS shopTel,
            ss.shop_status AS shopStatus,
            ssu.id as sysShopUserId
        FROM
            sys_shop_user ssu
            INNER JOIN sys_shop ss ON ssu.shop_id = ss.shop_id
        WHERE
            ssu.user_id = #{userId}
            <if test='shopName != null and shopName != ""'>
                ss.shop_name like CONCAT('%',#{shopName},'%')
            </if>
            <if test="status != null">
                ss.shop_status = #{status}
            </if>
    </select>

    <select id="getUserShopList" resultType="com.wx.watersupplierservice.dto.UserShopDto">
        SELECT
            ss.shop_id AS shopId,
            ss.shop_name AS shopName,
            ss.platform AS platform,
            ss.shop_code AS shopCode,
            ss.shop_address AS shopAddress,
            ss.shop_leader AS shopLeader,
            ss.shop_tel AS shopTel,
            ss.shop_status AS shopStatus,
            ssu.id as sysShopUserId
        FROM
            sys_shop_user ssu
            INNER JOIN sys_shop ss ON ssu.shop_id = ss.shop_id
        WHERE
            ssu.user_id = #{userId}
            AND ss.shop_status = 1
    </select>
</mapper>