<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.watersupplierservice.dao.SysWeixinDao">
    <resultMap id="BaseResultMap" type="com.wx.watersupplierservice.po.SysWeixinPo">
        <id column="openid" property="openid"/>
        <result column="nickname" property="nickname"/>
        <result column="headimgurl" property="headimgurl"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Table_Name">
        water_supplier.sys_weixin
    </sql>

    <sql id="Base_Column">
        openid,
        nickname,
        headimgurl,
        create_by,
        create_time,
        update_by,
        update_time
    </sql>

    <sql id="Base_Where">
        <trim suffixOverrides="AND">
            <if test="openid != null">
                AND openid=#{openid}
            </if>
            <if test="nickname != null">
                AND nickname=#{nickname}
            </if>
            <if test="headimgurl != null">
                AND headimgurl=#{headimgurl}
            </if>
            <if test="createBy != null">
                AND create_by=#{createBy}
            </if>
            <if test="createTime != null">
                AND create_time=#{createTime}
            </if>
            <if test="updateBy != null">
                AND update_by=#{updateBy}
            </if>
            <if test="updateTime != null">
                AND update_time=#{updateTime}
            </if>
        </trim>
    </sql>

    <sql id="Base_Select">
        select
        <include refid="Base_Column"/>
        from
        <include refid="Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </sql>

    <!-- 单条插入 -->
    <insert id="insert" parameterType="com.wx.watersupplierservice.po.SysWeixinPo" useGeneratedKeys="true"
            keyProperty="openid">
        insert into
        <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openid != null">
                openid,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="headimgurl != null">
                headimgurl,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openid != null">
                #{openid},
            </if>
            <if test="nickname != null">
                #{nickname},
            </if>
            <if test="headimgurl != null">
                #{headimgurl},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="insertList" parameterType="java.util.List">
        insert into
        <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            nickname,
            headimgurl,
            create_by,
            update_by,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.nickname},
                #{item.headimgurl},
                #{item.createBy},
                #{item.updateBy},
            </trim>
        </foreach>
    </insert>

    <!-- 根据主键批量更新 -->
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update
            <include refid="Table_Name"/>
            <set>
                <if test="item.nickname != null">
                    nickname=#{item.nickname},
                </if>
                <if test="item.headimgurl != null">
                    headimgurl=#{item.headimgurl},
                </if>
                <if test="item.createBy != null">
                    create_by=#{item.createBy},
                </if>
                <if test="item.updateBy != null">
                    update_by=#{item.updateBy},
                </if>
            </set>
            where
                openid=#{item.openid}
        </foreach>
    </update>

    <!-- 查询单表符合条件总条数 -->
    <select id="count" parameterType="com.wx.watersupplierservice.po.SysWeixinPo" resultType="int">
        select count(1) from
        <include refid="Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>

    <!-- 查询符合条件的一条记录 -->
    <select id="selectOne" parameterType="com.wx.watersupplierservice.po.SysWeixinPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
        limit 1
    </select>

    <!-- 查询符合条件的记录 -->
    <select id="selectList" parameterType="com.wx.watersupplierservice.po.SysWeixinPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
    </select>

    <!-- 查询符合条件的记录  锁定符合条件的行-->
    <select id="selectForUpdate" parameterType="com.wx.watersupplierservice.po.SysWeixinPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
        for update
    </select>

</mapper>