<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.watersupplierservice.dao.SysCustomerDao">
    <resultMap id="BaseResultMap" type="com.wx.watersupplierservice.po.SysCustomerPo">
        <id column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <result column="customer_tel" property="customerTel"/>
        <result column="customer_address" property="customerAddress"/>
        <result column="consume_count" property="consumeCount"/>
        <result column="consume_money" property="consumeMoney"/>
        <result column="platform_source" property="platformSource"/>
        <result column="platform_userid" property="platformUserid"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Table_Name">
        water_supplier.sys_customer
    </sql>

    <sql id="Base_Column">
        customer_id,
        customer_name,
        customer_tel,
        customer_address,
        consume_count,
        consume_money,
        platform_source,
        platform_userid,
        create_by,
        create_time,
        update_by,
        update_time
    </sql>

    <sql id="Base_Where">
        <trim suffixOverrides="AND">
            <if test="customerId != null">
                AND customer_id=#{customerId}
            </if>
            <if test="customerName != null">
                AND customer_name=#{customerName}
            </if>
            <if test="customerTel != null">
                AND customer_tel=#{customerTel}
            </if>
            <if test="customerAddress != null">
                AND customer_address=#{customerAddress}
            </if>
            <if test="consumeCount != null">
                AND consume_count=#{consumeCount}
            </if>
            <if test="consumeMoney != null">
                AND consume_money=#{consumeMoney}
            </if>
            <if test="platformSource != null">
                AND platform_source=#{platformSource}
            </if>
            <if test="platformUserid != null">
                AND platform_userid=#{platformUserid}
            </if>
            <if test="createBy != null">
                AND create_by=#{createBy}
            </if>
            <if test="createTime != null">
                AND create_time=#{createTime}
            </if>
            <if test="updateBy != null">
                AND update_by=#{updateBy}
            </if>
            <if test="updateTime != null">
                AND update_time=#{updateTime}
            </if>
        </trim>
    </sql>

    <sql id="Base_Select">
        select
        <include refid="Base_Column"/>
        from
        <include refid="Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </sql>

    <!-- 单条插入 -->
    <insert id="insert" parameterType="com.wx.watersupplierservice.po.SysCustomerPo" useGeneratedKeys="true"
            keyProperty="customerId">
        insert into
        <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="customerName != null">
                customer_name,
            </if>
            <if test="customerTel != null">
                customer_tel,
            </if>
            <if test="customerAddress != null">
                customer_address,
            </if>
            <if test="consumeCount != null">
                consume_count,
            </if>
            <if test="consumeMoney != null">
                consume_money,
            </if>
            <if test="platformSource != null">
                platform_source,
            </if>
            <if test="platformUserid != null">
                platform_userid,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                #{customerId},
            </if>
            <if test="customerName != null">
                #{customerName},
            </if>
            <if test="customerTel != null">
                #{customerTel},
            </if>
            <if test="customerAddress != null">
                #{customerAddress},
            </if>
            <if test="consumeCount != null">
                #{consumeCount},
            </if>
            <if test="consumeMoney != null">
                #{consumeMoney},
            </if>
            <if test="platformSource != null">
                #{platformSource},
            </if>
            <if test="platformUserid != null">
                #{platformUserid},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="insertList" parameterType="java.util.List">
        insert into
        <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            customer_name,
            customer_tel,
            customer_address,
            consume_count,
            consume_money,
            platform_source,
            platform_userid,
            create_by,
            update_by,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.customerName},
                #{item.customerTel},
                #{item.customerAddress},
                #{item.consumeCount},
                #{item.consumeMoney},
                #{item.platformSource},
                #{item.platformUserid},
                #{item.createBy},
                #{item.updateBy},
            </trim>
        </foreach>
    </insert>

    <!-- 根据主键更新 -->
    <update id="update" parameterType="com.wx.watersupplierservice.po.SysCustomerPo">
        update
        <include refid="Table_Name"/>
        <set>
            <if test="customerName != null">
                 customer_name=#{customerName},
            </if>
            <if test="customerTel != null">
                 customer_tel=#{customerTel},
            </if>
            <if test="customerAddress != null">
                 customer_address=#{customerAddress},
            </if>
            <if test="consumeCount != null">
                 consume_count=#{consumeCount},
            </if>
            <if test="consumeMoney != null">
                 consume_money=#{consumeMoney},
            </if>
            <if test="platformSource != null">
                 platform_source=#{platformSource},
            </if>
            <if test="platformUserid != null">
                 platform_userid=#{platformUserid},
            </if>
            <if test="createBy != null">
                 create_by=#{createBy},
            </if>
            <if test="updateBy != null">
                 update_by=#{updateBy},
            </if>
        </set>
        where
            customer_id=#{customerId}
    </update>

    <!-- 根据主键批量更新 -->
    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update
            <include refid="Table_Name"/>
            <set>
                <if test="item.customerName != null">
                    customer_name=#{item.customerName},
                </if>
                <if test="item.customerTel != null">
                    customer_tel=#{item.customerTel},
                </if>
                <if test="item.customerAddress != null">
                    customer_address=#{item.customerAddress},
                </if>
                <if test="item.consumeCount != null">
                    consume_count=#{item.consumeCount},
                </if>
                <if test="item.consumeMoney != null">
                    consume_money=#{item.consumeMoney},
                </if>
                <if test="item.platformSource != null">
                    platform_source=#{item.platformSource},
                </if>
                <if test="item.platformUserid != null">
                    platform_userid=#{item.platformUserid},
                </if>
                <if test="item.createBy != null">
                    create_by=#{item.createBy},
                </if>
                <if test="item.updateBy != null">
                    update_by=#{item.updateBy},
                </if>
            </set>
            where
                customer_id=#{item.customerId}
        </foreach>
    </update>

    <!-- 查询单表符合条件总条数 -->
    <select id="count" parameterType="com.wx.watersupplierservice.po.SysCustomerPo" resultType="int">
        select count(1) from
        <include refid="Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>

    <!-- 查询符合条件的一条记录 -->
    <select id="selectOne" parameterType="com.wx.watersupplierservice.po.SysCustomerPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
        limit 1
    </select>

    <!-- 查询符合条件的记录 -->
    <select id="selectList" parameterType="com.wx.watersupplierservice.po.SysCustomerPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
    </select>

    <!-- 查询符合条件的记录  锁定符合条件的行-->
    <select id="selectForUpdate" parameterType="com.wx.watersupplierservice.po.SysCustomerPo" resultMap="BaseResultMap">
        <include refid="Base_Select"/>
        for update
    </select>

</mapper>