<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>练货</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/css/mui.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    
</head>
<body>
<!-- 新订单/水站拒单 -->

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" onclick="history.back()"></a>			
			<h1 id="title" class="mui-title">新订单</h1>
		</header>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" href="/wx/orderList.html">
				<span class="mui-icon iconfont icon-list"></span>
				<span class="mui-tab-label">订单查询</span>
			</a>
			<a class="mui-tab-item mui-active" href="/wx/function.html">
				<span class="mui-icon iconfont icon-function"></span>
				<span class="mui-tab-label">功能</span>
			</a>
			<a class="mui-tab-item" href="/wx/account.html">
				<span class="mui-icon iconfont icon-user"></span>
				<span class="mui-tab-label">个人中心</span>
			</a>
		</nav>
		<h1>新订单</h1>
</body>
</html>