<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>订单详情</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/css/mui.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" onclick="history.back()"></a>			
		<h1 id="title" class="mui-title">订单详情</h1>
	</header>
	
</body>
</html>